{% extends 'layout.html' %}
{% block content %}
<style>
  .name {
    font-size: 2rem;
  }
</style>
<div class="container">
    <div class="jumbotron">
        <div class="lead" style="text-align: right;">
          <a class="btn btn-primary btn-lg" href="/shows" role="button">TV Shows</a>
          <a class="btn btn-primary btn-lg" href="/logout" role="button">Logout</a>
        </div>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-danger">
        <ul>
            {% for message in messages %}
            <li style="color:red">{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% endwith %}
    <div class="mycontainer">
      <div class="col-8 col-lg-8 col-md-8 col-sm-8">
          <h3>{{ result['title']}}</h3>

          <h6>Network: {{ result['network']}}</h6>
          <h6>Network: {{ result['release_date']}}</h6>
          <h6>description:</h6>
          <br>
          <h6>{{ result['description']}}</h6>
          <br>
          <h6>Posted By: {{result['first_name']}} &nbsp; {{result['last_name']}}</h6>
      </div>
    </div>  
</div>
{% endblock %}